{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ne-Flex</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" type="text/css">
        <link rel="stylesheet" href="{% static 'css/animation.css' %}" media="screen" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-portfolio.css' %}">
        <link rel="stylesheet" href="{% static 'css/picto-foundry-food.css' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="icon" href="icon/icon.ico" type="{% static 'image/x-icon' %}">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 70px;padding-top: 50px;">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#top"><img src="{% static 'images/toplogo.jpg' %}" width="125" height="20" style="height: 30px; width: 100px; padding-top: 10px; margin-top: 5px;"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">WELCOME</a></li>
                            <li><a class="color_animation" href="#movie_list">Movies for you</a></li>
                            <li><a class="color_animation" href="#Popular">Popular</a></li>
                            <li><a class="color_animation" href="#Coming_Soon">How about these?</a></li>
                            <li><a class="color_animation" href="http://127.0.0.1:8000">Logout</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>

       <!-- ============ Top movies  ============= -->
       <section id ="movie_list" class="description_content" style="height: 800px">
        <div  class="movie_list background_content stagger-wrapper" style="height: 82px;top: 3%;">
            <h1 class="stagger-item">Genres</h1>
                <div class="text-content container stagger-wrapper">
                    <div class="container stagger-item" style="width: 1830px;display: inline-flex;">

                        {% for movie in movies1%}
                        <p><img src="{{ movie.image }}" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie.title}}</a></p>
                        {% endfor %}
                    </div>

                    <div class="container stagger-item" style="width: 1830px;display: inline-flex;margin-top: 5%;">

                        {% for movie in movies2%}
                        <p><img src="{{ movie.image }}" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie.title}}</a></p>
                        {% endfor %}
                    </div>

                    <!-- <div class="container stagger-item" style="width: 1830px;display: inline-flex;margin-top: 5%;">

                            {% for movie in movies%}
                            <p><img src="" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie}}</a></p>
                            {% endfor %}
                    </div> -->
                </div>
        </div>
    </section>


          <!-- ============ Popular ============= -->
          <section id ="Popular" class="description_content" style="height: 800px">
            <div  class="Popular background_content stagger-wrapper" style="height: 82px;top: 3%;">
                <h1 class="stagger-item">Item</h1>
                    <div class="text-content container stagger-item">
                        <div class="container stagger-item" style="width: 1830px;display: inline-flex;">

                                {% for movie in movies%}
                                <p><img src="" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie}}</a></p>
                                {% endfor %}
                        </div>

                        <div class="container stagger-item" style="width: 1830px;display: inline-flex;margin-top: 5%;">

                                {% for movie in movies%}
                                <p><img src="" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie}}</a></p>
                                {% endfor %}
                        </div>
                    </div>
            </div>
        </section>

        <!-- ============ Coming Soon  ============= -->
        <section id ="Coming_Soon" class="description_content" style="height: 800px">
            <div  class="Popular background_content stagger-wrapper" style="height: 82px;top: 3%;">
                <h1 class="stagger-item">Rating</h1>
                    <div class="text-content container stagger-item">
                        <div class="container stagger-item" style="width: 1830px;display: inline-flex;">

                                {% for movie in movies%}
                                <p><img src="" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie}}</a></p>
                                {% endfor %}
                        </div>

                        <div class="container stagger-item" style="width: 1830px;display: inline-flex;margin-top: 5%;">

                                {% for movie in movies%}
                                <p><img src="" class="stagger-item" width="250" height="220" style="margin-right: 10px;margin-bottom: 10px;"><br><a href="">{{movie}}</a></p>
                                {% endfor %}
                        </div>
                    </div>
            </div>
        </section>

        <!-- ============ Footer Section  ============= -->

        <footer class="sub_footer">
            <div class="container">
                <div class="col-md-4"><p class="sub-footer-text text-center">&copy; Ne-Flex</p></div>
                <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
                </div>
                <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By <a href="#" target="_blank">Us</a></p></div>
            </div>
        </footer>


        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"> </script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>

    </body>
</html>